* {
  margin: 0px;
  padding: 2.5px;
}
body {
  padding: 16px;
  background-color: #1c1917;
  color: #f5f5f4;
}
.content {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  gap: 12px;
}

.card {
  padding: 16px;
  background-color: #525252;
  margin: 0 auto;
  width: 30%;
  flex-grow: 1;
  min-height: 120px;
  box-sizing: border-box;
}

.pcDescription {
  color: #1c1917;
  padding: 16px;
  background-color: #d4d4d4;
  display: grid;
}
.hideBtn {
  display: none;
}
button {
  border-radius: 30px;
  padding: 6px;
}

li {
  list-style: none;
  float: left;
  margin-top: 10px;
}
.pcList {
  float: none;
}
